[Unit]
Description=FRP Client for Simple Servermanager API
After=network.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/frpc -c /etc/frp/simple-frpc-api.ini
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
